**/*.dump
**/*.lock
!**/Cargo.lock
!fluxer_gateway/rebar.lock
**/*.log
**/*.swo
**/*.swp
**/*.tmp
**/*~
/.claude
/.claude/**
/.fluxer
/.fluxer/**
/.git
/.git/**
/.pnpm-store
/.pnpm-store/**
/.tmp
/.tmp/**
/_build
/_build/**
/node_modules
/node_modules/**
/target
/target/**
/tmp
/tmp/**
/fluxer_admin/node_modules
/fluxer_admin/node_modules/**
/fluxer_api/node_modules
/fluxer_api/node_modules/**
/fluxer_app/dist
/fluxer_app/dist/**
/fluxer_app/node_modules
/fluxer_app/node_modules/**
/fluxer_desktop
/fluxer_desktop/**
/fluxer_gateway/_build
/fluxer_gateway/_build/**
/fluxer_marketing/node_modules
/fluxer_marketing/node_modules/**
/fluxer_marketing/target
/fluxer_marketing/target/**
**/.cache
**/.claude
**/.dev.vars
**/.DS_Store
**/.env
**/.env.*.local
**/.env.local
**/.fluxer
.fluxer
.claude
.tmp
**/.git
.git
**/.idea
**/.pnpm-store
**/.rebar
**/.rebar3
**/.vscode
**/.benchmark-cache
**/.zig-cache
**/_build
_build
**/_checkouts
**/_vendor
**/bench-results
**/build
!fluxer_app/scripts/build
!fluxer_app/scripts/build/**
**/certificates
**/coverage
**/dist
**/Dockerfile*
**/erl_crash.dump
**/generated
**/log
**/logs
**/node_modules
node_modules
**/npm-debug.log*
**/pnpm-debug.log*
**/rebar3.crashdump
**/target
**/target-*
target
target-*
tmp
**/Thumbs.db
**/yarn-debug.log*
**/yarn-error.log*
**/zig-out
/fluxer_app/src/locales/*/messages.js
/fluxer_app/src/locales/*/messages.mjs
dev
.github
.next
*.md
fluxer_desktop
!fluxer_devops/cassandra/migrations
