/* SPDX-License-Identifier: AGPL-3.0-or-later */

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.pane {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 100%;
}

.fillParent {
	flex: 1;
	min-height: 0;
	height: 100%;
}

.fillParentPane {
	flex: 1;
	min-height: 0;
	height: 100%;
}
